/* 
Name: William Grate
Date: 09/25/22
*/

body
    {
        background: #EAEAEA;
        font-family: Arial, Helvetica, sans-serif;
    }

header
    {
        color: #FFFFFF;
        background-color: #4C5355;
        text-align: center;
    }

h1
    {
        margin-top: 0;
        margin-bottom: 0;
        font-family: Georgia, "Times New Roman", serif;
        letter-spacing: 0.05em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

h2
    {
        color: #607D86;
        font-family: Georgia, "Times New Roman", serif;
        text-shadow: 1px 1px #CCCCCC;
    }

h3
    {
        color: #607D86;
        font-family: Georgia, "Times New Roman", serif;
    }

section p
    {
        font-family: Arial, Helvetica, sans-serif;
        font-style: italic;
        margin-left: 2em;
    }

a
    {
        color: #C44B4F;
    }

code
    {
        font-family: monospace;
        font-size: inherit;
        font-style: normal;
    }
  
p > code, li > code, dd > code, td > code
    {
        background: #ffeff0;
        word-wrap: break-word;
        box-decoration-break: clone;
        padding: .1rem .3rem .2rem;
        border-radius: .2rem;
    }

#wrapper
    {
        background-color: #90C7E3;
        background: linear-gradient(0deg, #CBCDCB 0%, #FFFFFF 100%);
        background-repeat: no-repeat;
        width: 80%;
        border: 1px solid #4C5355;
        margin: auto;
        filter: drop-shadow(3px 3px 3px #4C5355);
    }